h1 {
    
}

* {
    /* outline: 1px solid red; */
}

body {
    height: 100vh;
    margin: 0;
}

.nav {
    height: 10%;
    background-color: yellow;
    border-bottom: 3px solid black;
}

.main {
    height: 80%;
    background-color: white;
    display: flex;
}

.main-left {
    width: 80%;
}

.main-right {
    width: 20%;
    background-color: black;
    /* border: 3px solid yellow; */
}

.footer {
    height: 10%;
    background-color: yellow;
    border-top: 3px solid black;
}

p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    color: white;
}