h1 {
    color: white;
    margin-left: 20px;

}

* {
    outline: 1px solid red;
    font-family: monospace;
}

body {
    height: 100vh;
    margin: 0;
}

.nav {
    height: 10%;
}

.main {
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    
}

.main-left {
    width: 70%;
    background-image: url(images/background.jpg);
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-right {
    width: 20%;
    background-color: rgb(36, 35, 35);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.profile-pic {
    height: 20%;
}

.info {
    height: 80%;
}

.footer {
    height: 10%;
}

p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    color: white;
}

a {
    color: white;
    font-weight: bold;
}