h1 {
    color: goldenrod;
}

* {
    outline: 1px solid red;
}

body {
    height: 100vh;
    margin: 0;
}

.nav {
    height: 10%;
    background-color: gray;
}

.main {
    height: 80%;
    background-color: white;
    display: flex;
}

.main-left {
    width: 80%;
}

.main-right {
    width: 20%;
}

.footer {
    height: 10%;
    background-color: bisque;
}